<div class="container">
  <mat-card>
    <mat-card-title>Edit Task</mat-card-title>
    
    <form class="create-task-form" #form="ngForm" (ngSubmit)="onSubmit(form.value)" autocomplete="off">
      <mat-form-field class="full-width">
        <input matInput placeholder="Edit task" name="task" [ngModel]="taskDetails.task">
      </mat-form-field>      

      <mat-form-field class="full-width">
        <input matInput placeholder="Description" name="description" [ngModel]="taskDetails.description">
      </mat-form-field>
    
      <div class="row-input">
        <mat-radio-group name="status" [ngModel]="taskDetails.status">
          <mat-radio-button [value]="statuses[0]">
            {{ statuses[0] }}
          </mat-radio-button>
          <mat-radio-button [value]="statuses[1]">
            {{ statuses[1] }}
          </mat-radio-button>
        </mat-radio-group>        
      </div>
      
      <div class="row-buttons">
        <span class="spacer"></span>
        <a routerLink="/tasks" class="form-btn" mat-button>Go Back</a>      
        <button type="submit" class="form-btn" mat-raised-button color="accent">Update</button>
      </div>
    </form>    
  </mat-card>
</div>